import React from "react";
import PropTypes from "prop-types";
import clsx from "clsx";

import "./{{componentName}}.scss";

export const ENUMS = {
    // Add any prop enums here (see Button.js for example)
};

/**
 * {{componentDescription}}
 **/
export const {{componentName}} = ({
    className,
    ...props
}) => {
    return (
        <div className={clsx(className, 'my-other-classes')}></div>
    );
};

{{componentName}}.propTypes = {
    /** (Optional) click handler */
    onClick: PropTypes.func,
};

{{componentName}}.defaultProps = {};
