import React from "react";
import PropTypes from "prop-types";
import { classify } from "utility/classify";

import "./{{componentName}}.scss";

export const ENUMS = {
    // Add any prop enums here (see Icon.js for example)
};

/**
 * {{componentDescription}}
 **/
export const {{componentName}} = ({
    className,
    ...props
}) => {
    return (
        <div className={classify('mainsail-{{kebabCase componentName}}', className)}>{children}</div>
    );
};

{{componentName}}.propTypes = {
    /** (Optional) click handler */
    onClick: PropTypes.func,
};

{{componentName}}.defaultProps = {};

/*
* Tip: Be sure to attach any prop enums separately for convenience
* use the plural form of the prop name
* {{componentName}}.variants = variants
*/
